<mobile-navigation>
  <ul class='nav-bar'>
    <li class='product-menu'>
      <div class='menu'>
        Product
        {% render 'arrows' %}
      </div>
      <div class='container'>
        <div class='product-content'>
          {% for block in section.blocks %}
            {% if block.type == 'menu-product' %}
              <div class='product-bar'>
                <div class='bar'>
                  <img src='{{ block.settings.product_bar_img | image_url}}' width='100%' height='100%' alt=''>
                  <p>{{ block.settings.product_type }}</p>
                </div>
                <div class='product-wrapper'>
                  {% if block.settings.product_accessories_type == 'Accessories' %}
                    <div class='top'>
                      <p>{{ block.settings.product_type }}</p>
                      <a href='{{ block.settings.product_view}}'>View All</a>
                    </div>
                  {% endif %}
                  {%- capture item -%}
                {%- for i in (1..block.settings.product_grid_columns) -%}
                {%- capture product_url -%}product_url_{{ i }}{%- endcapture -%}
                {%- capture product_image -%}product_image_{{ i }}{%- endcapture -%}
                {%- capture product_name -%}product_name_{{ i }}{%- endcapture -%}
                {%- capture product_desc -%}product_desc_{{ i }}{%- endcapture -%}
                  {% if  block.settings[product_name] != blank %}
                  <a href="{{ block.settings[product_url] }}" >
                    <img src="{{ block.settings[product_image] | image_url }}" class='item-image' loading="lazy" alt="" width="100%" height="100%">
                    <p class="item-name">{{ block.settings[product_name]}}</p>
                    <p class="item-desc">{{block.settings[product_desc] }}</p>
                  </a> 
                  {% endif %} 
                {%- endfor -%}
              {%- endcapture -%}
                  <div
                    class='menu-product'
                    style='grid-template-columns: repeat({{ block.settings.product_grid_columns }}, 1fr)'
                  >
                    {{ item }}
                  </div>

                  <div class='product-collection'>
                    <div class='top'>
                      <p>{{ block.settings.product_accessories_type }}</p>
                      <a href='{{ block.settings.product_accessories_view }}'>View All</a>
                    </div>
                    {%- assign collection_handle = block.settings.collection -%}
                    {% assign collection = collections[collection_handle] %}

                    <ul class='collection-list'>
                      {% for product in collection.products %}
                        <li>
                          <a href='/products/{{ product.handle }}'>
                            <img
                              src='{{ product.featured_image | image_url }}'
                              class='item-image'
                              loading='lazyt'
                              width='100%'
                              height='100%'
                            >
                            <p class='item-name'>{{ product.title }}</p>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </li>
    <li class='accessories'>
      <div class='menu'>
        Accessories
        {% render 'arrows' %}
      </div>
      <div class='container'>
        <div class='product-content'>
          {% for block in section.blocks %}
            {% if block.type == 'menu-accessories' %}
              <div class='product-bar'>
                <div class='bar'>
                  <p>{{ block.settings.product_type }}</p>
                </div>
                <div class='product-wrapper '>
                  <div class='product-collection'>
                    <div class='top'>
                      <p>{{ block.settings.product_type }}</p>
                      <a href='{{ block.settings.product_view}}'>View All</a>
                    </div>
                    {%- assign collection_handle = block.settings.collection -%}
                    {% assign collection = collections[collection_handle] %}

                    <ul class='collection-list'>
                      {% for product in collection.products %}
                        <li>
                          <a href='/products/{{ product.handle }}'>
                            <img
                              src='{{ product.featured_image | image_url }}'
                              class='item-image'
                              loading='lazyt'
                              width='100%'
                              height='100%'
                            >
                            <p class='item-name'>{{ product.title }}</p>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </li>
    <li class='solution'>
      <div class='menu'>
        Solution
        {% render 'arrows' %}
      </div>
      <div class='container'>
        <ul>
          <li><a href='https://atomstack.com/pages/small-business'>Small business</a></li>
        </ul>
      </div>
    </li>
    <li class='learn'>
      <div class='menu'>
        Learn
        {% render 'arrows' %}
      </div>
      <div class='container'>
        <ul>
          <p class='learn-title'>
            {% render 'svg-1' %}
            For beginner
          </p>
          <li><a href='https://atomstack.com/pages/beginner-guide'>Beginner Guide</a></li>
        </ul>
        <div class='segmentation'></div>
        <ul>
          <p class='learn-title'>
            {% render 'svg-3' %}
            Download
          </p>
          <li>
            <a href='/pages/software-guide'>Software Guide</a>
          </li>
          <li><a href='/pages/machine-guide'>Machine Guide</a></li>
        </ul>
      </div>
    </li>
    <li class='support'>
      <div class='menu'>
        Support
        {% render 'arrows' %}
      </div>
      <div class='container'>
        <ul>
          <p>
            Explore Support
            {% render 'arrows' %}
          </p>
          <li><a href=''>Hurricane</a></li>
          <li><a href=''>Max</a></li>
          <li><a href=''>Ace Pro V2</a></li>
          <li><a href=''>Unibody Laser</a></li>
          <li><a href=''>Pro</a></li>
        </ul>
        <ul>
          <p>
            Hlep Center
            {% render 'arrows' %}
          </p>
          <li><a href='/pages/product-support'>Product Support</a></li>
          <li><a href='/pages/model-comparison'>Machine Comparison</a></li>
          <li><a href='/pages/atomstack-studio-software'>Softwrare</a></li>
          <li><a href='/pages/payment-help'>Paryrnent Help</a></li>
          <li><a href='/pages/faqs'>FAQ</a></li>
        </ul>
        <ul>
          <p>
            Material Setting
            {% render 'arrows' %}
          </p>
          <li><a href='/pages/material-setting'>material setting</a></li>
        </ul>
        <ul>
          <p>
            Order Tracking
            {% render 'arrows' %}
          </p>
          <li><a href='/tools/order_tracking'>order tracking</a></li>
        </ul>
      </div>
    </li>
    <li class='community'>
      <div class='menu'>
        Community
        {% render 'arrows' %}
      </div>
      <div class='container'>
        <div class='wrapper-content'>
          <div class='left'>
            <div class='content-container'>
              <img src='{{ 'official.png' |  asset_url  }}' alt='' width='100%' height='100%'>
              <div class='word'>
                <p class='title'>Facebook Official Groups</p>
                <p class='desc'>Stay up to date with the latest news and brand events.</p>
              </div>
            </div>
            <div class='btn'>
              <a
                href='https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2Fgroups%2Fatomstack3d'
                target='_blank'
              >
                Join
              </a>
            </div>
          </div>

          <div class='right'>
            <div class='content-container'>
              <img src='{{ 'reddit.png' |  asset_url  }}' alt='' width='100%' height='100%'>
              <div class='word'>
                <p class='title'>r/AtomstackLaser</p>
                <p class='desc'>Join the official atomstack community on reddit.</p>
              </div>
            </div>
            <div class='btn'>
              <a href='https://www.reddit.com/r/AtomstackLaser/' target='_blank'>Join</a>
            </div>
          </div>
        </div>
        {% comment %} <p class='subtitle'>Connect with like-minded friends and get help through the community.</p  {% endcomment %}
      </div>
    </li>
    {% render 'country-navigation' %}
  </ul>
</mobile-navigation>
