{%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign color_white_label = 'general.label.white' | t | downcase -%}
{%- assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id -%}
{%- assign variant_picker_block = section.blocks | where: 'type', 'variant_picker' | first -%}
{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}
{%- assign product_quantity_selector = section.blocks | where: 'type', 'quantity_selector' -%}
<style>
  .product-sticky-form__payment-container{
    margin-left: 10px;
    display: flex;
    gap: 32px;
  }
  .detailCheckout{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(90, 49, 244, 1);
    color: #fff;
    line-height: 48px;
    font-weight: 600;
    max-width: 188px;
    font-size: 16px;
    height: 48px;
    padding: 0 20px;
    letter-spacing: 0;
    min-width: 188px;
    transition: unset;
    border-radius: var(--button-border-radius);
    width: 100%;
  }
  .product-sticky-form .button{
    line-height: 48px;
    max-width: 188px;
    height: 48px;
    padding: 0 20px;
    text-transform: capitalize;
    letter-spacing: 0;
    min-width: 188px;
    transition: unset;
    width: 100%;
  }
  .product-sticky-form .button:hover{
    background-image: unset;
  }
  .product-sticky-form .button .loader-button__text{
    font-size: 16px;
  }
  .product-sticky-form[hidden]{
    transform: translateY(100%);
  }
  /* .product-sticky-form[hidden]{
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  } */
  .product-sticky-form{
    top: unset;
    padding: 0;
    bottom: 0;
    padding-bottom: unset !important;
  }
  .product-sticky-form__inner{
    height: 80px;
  }
  .product-sticky-form__content-wrapper {
    flex-direction: column;
    align-items: flex-start;  
  }
  .product-sticky-form__price{
    font-size: 32px;
    font-weight: 600;
  }
  .product-sticky-form__priceCom{
    font-size: 24px;
    color: #949494;
    font-weight: 600;
  }
  .product-sticky-form__bottom-info{
    display: flex;
    align-items: center;
    line-height: 1.2;
    gap: 18px;
  }
  .product_meta_label span{
    min-width: 90px;
    font-weight: 600;
    height: 24px;
    border-radius: 25px;
    color: #fff;
    background-color: #ffaa2b;
    text-transform: capitalize;
    display: flex; 
    align-items: center;
    padding: 4px 12px;
    justify-content: center;
  }
  @media (max-width:999px) {
    .product-sticky-form__inner{
      height: auto;
    }
    .product-sticky-form{
      background-color: #fff;
      padding-top: 15px;
      padding-bottom: 20px !important;
    }
    .product-sticky-form__price{
      font-size: 18px;
    }
    .product-sticky-form__priceCom{
      font-size: 12px;
    }
    .product_meta_label span{
      font-size: 12px;
      height: 20px;
    }
    .product_stickyForm{
      font-size: 12px;
    }
    .product-sticky-form__bottom-info{
      margin-bottom: 6px
    }
    .product-sticky-form__payment-container{
      margin-left: unset;
      margin-top: 10px;
      gap: 15px;
    }
    .product-sticky-form .button .loader-button__text{
      font-size: 14px;
    }
    .product-sticky-form .button,.detailCheckout{
      min-width: unset;
      font-size: 14px;
      line-height: 31px;
      width: 50%;
      height: 31px;
    }
    .product-sticky-form__bottom-info{
      gap: 8px;
    }
    
  }
  .rp-micro-app-label-icon-container{
    bottom: 128px !important;
  }
</style>
{%- if buy_buttons_block != blank -%}
  <style>
    @media screen and (min-width: 1000px) {
      :root {
        --anchor-offset: 140px; /* When the sticky form is activate, every scroll must be offset by an extra value */
      }
    }
  </style>

  <product-sticky-form form-id="{{ product_form_id }}" hidden class="product-sticky-form">
    <div class="container">
      <div class="product-sticky-form__inner">
        <div class="product-sticky-form__content-wrapper">
          <!-- <div class="product-sticky-form__image-wrapper">
            {%- assign featured_media = product.selected_or_first_available_variant.featured_image
              | default: product.featured_media
            -%}
            <img
              class="product-sticky-form__image"
              loading="lazy"
              sizes="55px"
              {% render 'image-attributes', image: featured_media, sizes: '55,110,165' %}
            >
          </div> -->
          
          <div class="product-sticky-form__info">
            <div class="product-sticky-form__bottom-info">
              <!-- <span class="product-sticky-form__title">{{ product.title }}</span> -->
              
              
              <span class="product-sticky-form__price">
                {%- if settings.currency_code_enabled -%}
                  {{- product.selected_or_first_available_variant.price | money -}}
                {%- else -%}
                  {{- product.selected_or_first_available_variant.price | money -}}
                {%- endif -%}
              </span>
              
              {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
              <s class="product-sticky-form__priceCom">
                {%- if settings.currency_code_enabled -%}
                {{- product.selected_or_first_available_variant.compare_at_price | money -}}
              {%- else -%}
                {{- product.selected_or_first_available_variant.compare_at_price | money -}}
              {%- endif -%}
              </s>
              {% else %}
              <s class="product-sticky-form__priceCom"></s>
              {% endif %}
           <product-meta  form-id='{{ product_form_id }}'
           price-class='price--large'
           class='product-meta'>
                  <div class='product_meta_label label-list' data-product-label-list>
                    {%- unless product.selected_or_first_available_variant.available -%}
                      <span class='variant_discount_html'>{{ 'collection.product.sold_out' | t }}</span>
                    {%- elsif product.selected_or_first_available_variant.compare_at_price
                        > product.selected_or_first_available_variant.price
                    -%}
                      {%- if settings.discount_mode == 'percentage' -%}
                        {%- assign savings = product.selected_or_first_available_variant.compare_at_price
                          | minus: product.selected_or_first_available_variant.price
                          | times: 100.0
                          | divided_by: product.selected_or_first_available_variant.compare_at_price
                          | round
                          | append: '%'
                        -%}
                      {%- else -%}
                        {%- capture savings -%}{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | money }}{%- endcapture -%}
                      {%- endif -%}
      
                      <span class='variant_discount_html'>
                        {{- 'collection.product.discount_html' | t: savings: savings -}}
                      </span>
                    {%- endunless -%}
                  </div>

                </product-meta>
              <div
                class="product-sticky-form__unit-price text--xsmall text--subdued"
                {% unless product.selected_or_first_available_variant.unit_price_measurement %}
                  style="display: none"
                {% endunless %}
              >
                <div class="unit-price-measurement">
                  <span class="unit-price-measurement__price">
                    {{- product.selected_or_first_available_variant.unit_price | money -}}
                  </span>
                  <span class="unit-price-measurement__separator">/</span>

                  {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                    <span class="unit-price-measurement__reference-value">
                      {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
                    </span>
                  {%- endif -%}

                  <span class="unit-price-measurement__reference-unit">
                    {{- product.selected_or_first_available_variant.unit_price_measurement.reference_unit -}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          
          <product-payment-terms form-id='{{ product_form_id }}' class="product_stickyForm">
            {%- assign product_installment_form_id = 'product-installment-form-'
              | append: section.id
              | append: '-'
              | append: product.id
            -%}

            {%- form 'product', product, id: product_installment_form_id -%}
              <input type='hidden' name='id' value='{{ product.selected_or_first_available_variant.id }}'>
              {{- form | payment_terms -}}
            {%- endform -%}
          </product-payment-terms>
        </div>

        {%- comment -%}
          This form is a simplified representation of the main form, and therefore uses its own code path.
        {%- endcomment -%}
        <div class="product-sticky-form__form">
          <!-- {%- unless product.has_only_default_variant -%}
            <product-variants
              handle="{{ product.handle }}"
              form-id="{{ product_form_id }}"
              update-url
              {% if variant_picker_block.settings.hide_sold_out_variants %}
                hide-sold-out-variants
              {% endif %}
              class="product-sticky-form__variants hidden-pocket"
            >
              {%- if request.page_type != 'password' and product.available and product_quantity_selector != blank -%}
                <quantity-selector class="quantity-selector product-sticky-form__quantity-selector">
                  <button type="button" class="quantity-selector__button">
                    <span class="visually-hidden">{{ 'cart.general.decrease_quantity' | t }}</span>
                    {%- render 'icon' with 'minus-big' -%}
                  </button>

                  <input
                    type="text"
                    form="{{ product_form_id }}"
                    is="input-number"
                    class="quantity-selector__input"
                    inputmode="numeric"
                    name="quantity"
                    autocomplete="off"
                    min="1"
                    value="1"
                    size="2"
                    data-form="{{ product_form_id }}"
                    aria-label="{{ 'product.form.quantity' | t | escape }}"
                  >

                  <button type="button" class="quantity-selector__button">
                    <span class="visually-hidden">{{ 'cart.general.increase_quantity' | t }}</span>
                    {%- render 'icon' with 'plus-big' -%}
                  </button>
                </quantity-selector>
              {%- endif -%}

              {%- for option in product.options_with_values -%}
                {%- assign option_downcase = option.name | downcase -%}
                {%- capture option_id -%}sticky-form-option-{{ section.id }}-{{ forloop.index }}{%- endcapture -%}
                {%- assign color_swatch_text_color_config = settings.color_swatch_text_color_config
                  | newline_to_br
                  | split: '<br />'
                -%}
                {%- assign color_swatch_background_color_config = settings.color_swatch_background_color_config
                  | newline_to_br
                  | split: '<br />'
                -%}

                <div class="select-wrapper" data-selector-type="dropdown">
                  <combo-box
                    fit-toggle
                    initial-focus-selector="[aria-selected='true']"
                    id="{{ option_id }}-combo-box"
                    class="combo-box"
                  >
                    <span class="combo-box__overlay"></span>

                    <header class="combo-box__header">
                      <p class="combo-box__title heading h6">{{ option.name }}</p>

                      <button
                        type="button"
                        class="combo-box__close-button tap-area"
                        data-action="close"
                        title="{{ 'general.accessibility.close' | t | escape }}"
                      >
                        {%- render 'icon' with 'close' -%}
                      </button>
                    </header>

                    <div class="combo-box__option-list" role="listbox">
                      {%- for value in option.values -%}
                        <button
                          type="button"
                          role="option"
                          class="combo-box__option-item"
                          value="{{ value | escape }}"
                          aria-selected="{% if value == option.selected_value %}true{% else %}false{% endif %}"
                        >
                          {%- if color_label_list contains option_downcase -%}
                            <span
                              class="combo-box__color-swatch"
                              aria-label="{{ value | escape }}"
                              style="{% render 'color-swatch-style', color_swatch_config: color_swatch_background_color_config, value: value %}"
                              data-color-name="{{ value }}"
                              {% render 'color-swatch-attributes',
                                color_swatch_text_color_config: color_swatch_text_color_config,
                                color_swatch_background_color_config: color_swatch_background_color_config,
                                value: value
                              %}
                            ></span>
                          {%- endif -%}

                          {{- value -}}
                        </button>
                      {%- endfor -%}
                    </div>

                    <select
                      class="visually-hidden"
                      name="option{{ option.position }}"
                      form="{{ product_form_id }}"
                      data-bind-value="{{ option_id }}-value"
                      aria-label="{{ option.name | escape }}"
                    >
                      {%- for value in option.values -%}
                        {%- assign replacement_title = '' -%}
                        {%- assign downcase_value = value | downcase -%}

                        {%- if color_label_list contains option_downcase -%}
                          {%- capture replacement_title -%}
                            <span
                              class="select__color-swatch
                              {% if downcase_value == color_white_label %}select__color-swatch--white{% endif %}"
                              aria-label="{{ value | escape }}"
                              style="{% render 'color-swatch-style', color_swatch_config: color_swatch_background_color_config, value: value %}"
                              {% render 'color-swatch-attributes',
                                color_swatch_text_color_config: color_swatch_text_color_config,
                                color_swatch_background_color_config: color_swatch_background_color_config,
                                value: value
                              %}
                            ></span>
                            {{- value -}}
                          {%- endcapture -%}
                        {%- endif -%}

                        <option
                          value="{{ value | escape }}"
                          {% if replacement_title != '' %}
                            title="{{ replacement_title | escape }}"
                          {% endif %}
                          {% if value == option.selected_value %}
                            selected
                          {% endif %}
                        >
                          {{ value }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </combo-box>

                  <button
                    type="button"
                    is="toggle-button"
                    class="select"
                    aria-expanded="false"
                    aria-haspopup="listbox"
                    aria-controls="{{ option_id }}-combo-box"
                  >
                    <span id="{{ option_id }}-value" class="select__selected-value">
                      {%- if color_label_list contains option_downcase -%}
                        {%- assign downcase_value = option.selected_value | downcase -%}
                        <span
                          class="select__color-swatch {% if downcase_value == color_white_label %}select__color-swatch--white{% endif %}"
                          aria-label="{{ option.selected_value | escape }}"
                          style="{% render 'color-swatch-style', color_swatch_config: color_swatch_background_color_config, value: option.selected_value %}"
                          {% render 'color-swatch-attributes',
                            color_swatch_text_color_config: color_swatch_text_color_config,
                            color_swatch_background_color_config: color_swatch_background_color_config,
                            value: option.selected_value
                          %}
                        ></span>
                      {%- endif -%}

                      {{- option.selected_value -}}
                    </span>

                    {%- render 'icon' with 'chevron' -%}
                  </button>
                </div>
              {%- endfor -%}
            </product-variants>
          {%- endunless -%} -->

          <product-payment-container form-id="{{ product_form_id }}" class="product-sticky-form__payment-container">
            {%- capture button_content -%}
              {%- if product.template_suffix == 'pre-order' -%}
                {{- 'product.form.pre_order' | t -}}
              {%- else -%}
                {{- 'product.form.add_to_cart' | t -}}
              {%- endif -%}
            {%- endcapture -%}

            <button
              id="StickyAddToCart"
              is="loader-button"
              form="{{ product_form_id }}"
              type="submit"
              data-product-add-to-cart-button
              {% unless buy_buttons_block.settings.show_payment_button %}
                data-use-primary
              {% endunless %}
              data-button-content="{{ button_content | escape }}"
              class="product-form__add-button button {% if section.settings.show_sticky_quick_buy %}hidden-phone{% endif %} {% unless product.selected_or_first_available_variant.available %}button--ternary{% else %}{% if buy_buttons_block.settings.show_payment_button %}button--secondary{% else %}button--primary{% endif %}{% endunless %}"
              {% unless product.selected_or_first_available_variant.available %}
                disabled
              {% endunless %}
            >
              {%- if product.selected_or_first_available_variant.available -%}
                {{- button_content -}}
              {%- else -%}
                {{- 'product.form.sold_out' | t -}}
              {%- endif -%}
            </button>
            {% if section.settings.show_checkOut %}
            <div data-cart-url="/cart" class="partyPack_product_bottomAdd_right detailCheckout" data-href="/cart/{{product.first_available_variant.id}}:1">
              Buy Now
            </div>
            {% endif %}
            <!-- {%- if section.settings.show_sticky_quick_buy -%}
              <button
                type="button"
                id="StickyAddToCart"
                is="toggle-button"
                class="product-form__add-button button hidden-tablet-and-up {% unless product.selected_or_first_available_variant.available %}button--ternary{% else %}{% if buy_buttons_block.settings.show_payment_button %}button--secondary{% else %}button--primary{% endif %}{% endunless %}"
                aria-controls="{{ look_id }}-popover"
                aria-expanded="false"
                data-product-add-to-cart-button
                data-button-content="{{ button_content | escape }}"
                {% unless product.selected_or_first_available_variant.available %}
                  disabled
                {% endunless %}
              >
                {%- if product.selected_or_first_available_variant.available -%}
                  {{- 'product.form.quick_buy_popover' | t -}}
                {%- else -%}
                  {{- 'product.form.sold_out' | t -}}
                {%- endif -%}
              </button>
            {%- endif -%} -->
          </product-payment-container>
        </div>
      </div>
    </div>
  </product-sticky-form>
{%- endif -%}
