<link rel='stylesheet' href='{{ 'home-grid.css' | asset_url }}'>
<div class='home-grid home-grid-{{ section.id }}'>
  <div class='container'>
    <div class='title'>{{ section.settings.title }}</div>
    <div class='content'>
      {% for block in section.blocks %}
        <div class='item'>
          <picture>
            <source media='(max-width: 1000px)' srcset='{{ block.settings.mb_img | image_url}}'>
            <source media='(min-width: 1000px)' srcset='{{ block.settings.pc_img | image_url}}'>
            <img
              src='{{ section.settings.pc_img | image_url }}'
              alt='img'
              width='100%'
              height='100%'
              loading='lazy'
            >
          </picture>
          {% if block.settings.title != blank %}
            <p class='item-title'>{{ block.settings.title }}</p>
          {% endif %}
          {% if block.settings.desc != blank %}
            <p class='item-desc'>{{ block.settings.desc }}</p>
          {% endif %}
          {% if block.settings.link != blank %}
            <a class='btn' href='{{ block.settings.link }}'>
              {{ block.settings.btn_text }}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class='bottom-content'>
      {% if section.settings.subtitle != blank %}
        <p class='subtitle'>{{ section.settings.subtitle }}</p>
      {% endif %}
      {% if section.settings.link != blank %}
        <a class='link' href='{{ section.settings.link }}'>{{ section.settings.text_link }}</a>
      {% endif %}
    </div>
  </div>
</div>
<style>
  @media (min-width: 1000px) {
    .home-grid-{{ section.id }} {
      padding: {{ section.settings.padding_top }}px 0 {{ section.settings.padding_bottom }}px;
    }
    .home-grid-{{ section.id }} .content {
        grid-template-columns: repeat({{ section.settings.grid_num }}, 1fr) !important;
    }
  }
</style>
{% schema %}
{
  "name": "home-grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "subtitle"
    },
    {
      "type": "text",
      "id": "link",
      "label": "link"
    },
    {
      "type": "text",
      "id": "text_link",
      "label": "text link"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 10,
      "unit": "px",
      "label": "padding top",
      "default": 150
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 10,
      "unit": "px",
      "label": "padding bottom",
      "default": 150
    },
    {
      "type": "number",
      "id": "grid_num",
      "label": "grid num",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "grid",
      "name": "grid",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_img",
          "label": "PC Image"
        },
        {
          "type": "image_picker",
          "id": "mb_img",
          "label": "MB Image"
        },
        {
          "type": "text",
          "id": "link",
          "label": "link"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "btn_text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "text",
          "id": "desc",
          "label": "desc"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "home-grid"
    }
  ]
}
{% endschema %}
